body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(215, 242, 241);
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.container {
    padding-top: 100px;
    padding-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.item {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.item p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
.item button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(14, 246, 48);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.spacer {
    height: 80px;
}
#search {
    display: flex;
    gap: 10px;
}
#search input[type="text"] {
    height: 40px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    width: 250px;
}
#search button {
    height: 40px;
    border: none;
    padding: 0 20px;
    background-color: rgb(14, 246, 48);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
